body {
    background: url("NEWGREENBOARD.jpg") no-repeat;
    background-size: cover;
    /*background-position: center;*/
}

span{
  font-family: 'chalkBoard';
  font-size: 55px;
  color: #D9CB38;
  display: inline-block;
  margin: 0 0 0 100px;
}

p{
  font-family: 'chalkWrite';
  font-size: 150px;
  font-style: bold;
  opacity: 0.7;
  text-align: center;
  margin: 5px 0 0 0;
}

#timer{
  color: #D9CB38;
  /*display: inline-block;*/
}

.score{
  margin-left: 0;
}

.subContainer{
  width: 100%;
  height: 100px;
  overflow: auto;
}

.subSquares{
  font-family: 'chalkWrite';
  opacity: 0.7;
  font-size: 75px;
  font-weight: 700;
  display: inline-block;
}

/*.1{
  margin-left: 10px
  text-align: left;
}

.2{
  text-align: center;
  float: left;
  margin: 0 10px 0 10px
}

.3{
  margin-right: 10px
  text-align: right;
  float: left;
}*/

@font-face{
  font-family: 'chalkBoard';
  src: url('KGsecondChancesSketch.ttf');
}

@font-face{
  font-family: 'chalkWrite';
  src: url('DK Cool Crayon.ttf');
}

@font-face {
  font-family: 'pastelRegular';
  font-style: normal;
  font-weight: normal;
  src: local('pastelRegular'), url('pastel crayon.woff') format('woff');
}
