
*::-moz-selection { background:transparent; }
*::selection { background:transparent; }

body {
    background: url("images/NiceGreenBoard.jpg") no-repeat;
    background-size: contain;;
    cursor: url("images/chalk.png"), auto;
}

.container{
  font-family: 'chalkBoard';
  font-size: 40px;
  text-align:center;
  color: #D9CB38;
  margin-top: 50px;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.item{
  margin:auto;
  margin-right: 20px;
  display:inline-block;
}

.option{
  font-family: 'chalkWrite';
  color: white;
  font-size: 150px;
  font-style: bold;
  opacity: 0.6;
  text-align: center;
  margin-top: 100px;
  -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
  animation: myfirst 5s linear 2s infinite alternate;
}

p{
  font-family: 'chalkWrite';
  color:white;
  font-size: 150px;
  font-style: bold;
  opacity: 0.5;
  text-align: center;
  margin-top:-300px;
}

#mainSquare{
  margin-top: 100px;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.round{
  font-family: 'chalkBoard';
  font-size: 40px;
  text-align:center;
  color: #D9CB38;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.score1{
  margin-right:10px;
}

.numbers{
  margin-left: -20px;
}

.sub-container{
  width: 100%;
  height: 100px;
  margin-top:-140px;
  text-align: center;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.subSquares{
  font-family: 'chalkWrite';
  opacity: 0.6;
  padding: 40px;
  font-size: 75px;
  font-weight: 700;
  display: inline-block;
  }

.quote-generator{
  font-family: 'quote';
  color: #D9CB38;
  opacity: 0.7;
  padding: 40px;
  font-size: 20px;
  margin-top: -150px;
  text-align: center;
}

#pin2{
  margin-left: -21px;
}

@font-face{
  font-family: 'chalkBoard';
  src: url('fonts/KGSecondChancesSketch.ttf');
}

@font-face{
  font-family: 'chalkWrite';
  src: url('fonts/DK Cool Crayon.ttf');
}

@font-face{
  font-family: 'quote';
  src: url('fonts/KGTenThousandReasonsAlt.ttf');
}

@font-face {
  font-family: 'pastelRegular';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/pastelRegular'),
        url('fonts/pastel crayon.woff')
        format('woff');
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
0%   {color:red; left:0px; top:0px;}
25%  {color:yellow; left:5px; top:0px;}
50%  {color:navy; left:5px; top:5px;}
75%  {color:green; left:0px; top:5px;}
100% {color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
0%   {color:red; left:0px; top:0px;}
25%  {color:yellow; left:5px; top:0px;}
50%  {color:navy; left:5px; top:5px;}
75%  {color:green; left:0px; top:5px;}
100% {color:red; left:0px; top:0px;}
}
